.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	margin-top: 25px;
    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.background {
    position: relative;
    text-align: center;
    color: white;
}

@font-face {
  font-family: 'Avenir Next';
  src: url("http://www.yoursite.com/fonts/Avenir_Book.otf"); /* File to be stored at your site */
  }


h1 {
    opacity: 1.0;
    font-style:normal;
    color: white;
    font-family: 'Avenir Next';
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.buttontext {
    opacity: 1.0;
}